<div class="jumbotron">

    <div class="row">   
        <div class="col-md-6">

            <h1 class="display-4">Welcome to 2ndGame!</h1>
            <p class="lead">Home to affordable second hand board games, a marketplace where you can sell your much loved board games and buy new ones at a great price!</p>
            <p class="lead">What are you waiting for? Lets give those games a 2nd life and have a second game!</p>

            <hr class="my-4">
            <p class="lead">
                <%# <a class="btn btn-primary btn-lg" href="#" role="button">Buy</a> %>
                <%=link_to "Buy", listings_path("all"), class: "btn btn-primary btn-lg"%>

                <a class="btn btn-primary btn-lg" href="#" role="button">Sell</a>
            </p>

        </div>

        <div class="col-md-6">

            <%= image_tag "hero-image.jpg", alt: "dungeon and dragon board game"%>    
        </div>
    </div>

    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                
                <%= image_tag "classic.jpg", alt: "a set out chess board"%>
                <div class="card-body">
                    <%=link_to "Classic games", listings_path("classic"), class: "btn btn-primary"%>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        <div class="card" style="width: 18rem;">
                
                <%= image_tag "family-game.jpg", alt: "feeding hippo family game"%>
                <div class="card-body">
                    <%=link_to "Family games", listings_path("family"), class: "btn btn-primary"%>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        <div class="card" style="width: 18rem;">
                
                <%= image_tag "hero-image.jpg",atl: "dungeon and dragon board game"%>
                <div class="card-body">
                   <%=link_to "Fantasy games", listings_path("fantasy"), class: "btn btn-primary"%>

                </div>
            </div>
        </div>
        


    </div>


    <div class="row">

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                
                <%= image_tag "strategy-game.jpg",atl: "little human settling around the world board game"%>
                <div class="card-body">
                    <%=link_to "Strategy games", listings_path("strategy"), class: "btn btn-primary"%>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                
                <%= image_tag "strategy-game.jpg",atl: "little human settling around the world board game"%>
                <div class="card-body">
                    <%=link_to "Puzzles games", listings_path("puzzles"), class: "btn btn-primary"%>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                
                <%= image_tag "strategy-game.jpg",atl: "little human settling around the world board game"%>
                <div class="card-body">
                    <%=link_to "Others games", listings_path("others"), class: "btn btn-primary"%>
                </div>
            </div>
        </div>
    </div>
    
</div>