<div class="jumbotron">

    <div class="row">   
        <div class="col-md-6">

            <h1 class="display-4">Welcome to 2ndGame!</h1>
            <p class="lead">Home to affordable second hand board games, a marketplace where you can sell your much loved board games and buy new ones at a great price!</p>
            <p class="lead">What are you waiting for? Lets give those games a 2nd life and have a second game!</p>

            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Buy</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">Sell</a>
            </p>

        </div>

        <div class="col-md-6">

            <%= image_tag "hero-image.jpg", alt: "dungeon and dragon board game", class: "hero-image"%>    
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                
                <%= image_tag "classic.jpg", alt: "a set out chess board", class: "category-image"%>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">classic games</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        <div class="card" style="width: 18rem;">
                
                <%= image_tag "family-game.jpg", alt: "feeding hippo family game", class: "category-image"%>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Family games</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        <div class="card" style="width: 18rem;">
                
                <%= image_tag "hero-image.jpg",atl: "dungeon and dragon board game", class: "category-image"%>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Fantasy games</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        <div class="card" style="width: 18rem;">
                
                <%= image_tag "strategy-game.jpg",atl: "little human settling around the world board game", class: "category-image"%>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Strategy games</a>
                </div>
            </div>
        </div>


    </div>

    
  
    
</div>