

<%if user_signed_in? && params[:id] == "#{current_user.id}"%>
    <h3 class="display-4">Your listed board games</h3>
<%else%>
    <h3 class="display-4"><%="#{params[:id]}".capitalize + " Board Games" %></h3>
<%end%>
<section class="container">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
            
    <%# Create ecommerce cards for each listing in the category (filtered by the controller method index) %>
    <%@listings.each do |listing|%>
        <div class="d-flex col md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-img top">
                    <%if listing.picture.attached?%>
                        <%=image_tag listing.picture, alt: listing.listing_name, class:"card-img top"%>
                    <%else%>
                        <%=image_tag "hero-image.jpg", alt: "dungeon and dragon board game", class:"thumbnail card-img top"%>
                    <%end%>
                </div>
                <div class="card-body ">

                    <h4 class="card-title"><%=listing.listing_name%></h4>
                    <h5><%=format_price(listing.price)%></h5>
                </div>
            
        
                <div class="card-body">

                    <%if user_signed_in? && current_user.id == listing.user_id%>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                    <h5>Listing status: <%=listing.listing_status.capitalize%></h5>
                                <div class="d-flex justify-content-between align-items-end">
                                    <%if listing.listing_status != "sold"%>
                                        <%= link_to "Edit", edit_listing_path(listing.id), class: "btn btn-primary"%>
                                    <%end%>
                                    <%= link_to "View", listing_path(listing.id), class: "btn btn-primary"%>
                                </div>
                            </li>
                            <li class="list-group-item"><a href="#" class="btn btn-primary">Attach shipping receipt</a></li>
                    
                        </ul>
                                        
                    
                    <%else%>
                        <div class="d-flex justify-content-between align-items-end">
                                <% if user_signed_in? %>
                                    <%= button_to "Add to cart", { :controller => "orders", :action => "create" }, { :method => :post, :params => { :listing_id => listing.id}, class: "btn btn-primary"}%>
                                <% else %>

                                <%# CHECK Need to fix this as this redirect user to sign in but did not create the order for the user once signed in %>
                                    <%= link_to "Add to cart", new_user_session_path, class: "nav-link"%>
                                <%end%>
                            <%=link_to "More details", listing_path(listing.id), class: "card-link"%>
                        </div>
                                                
                    <%end%>
                </div>
            </div>
        </div>
    <%end%>

    </div>
</section>
