<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%# <a class="navbar-brand" href="#">2ndGame</a> %>
    <%=link_to "2ndGame", root_path, class: "navbar-brand"%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%=link_to "Home", root_path, class: "nav-link"%>

      </li>
      <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><%=link_to "Classic", listings_path("classic"), class: "dropdown-item"%></li>
            <li><%=link_to "Family", listings_path("family"), class: "dropdown-item"%></li>
            <li><%=link_to "Strategy", listings_path("strategy"), class: "dropdown-item"%></li>
            <li><%=link_to "Fantasy", listings_path("fantasy"), class: "dropdown-item"%></li>
            <li><%=link_to "Puzzles", listings_path("puzzles"), class: "dropdown-item"%></li>
            <li><%=link_to "Others", listings_path("others"), class: "dropdown-item"%></li>
            <div class="dropdown-divider"></div>
            <li><%=link_to "Shop all", listings_path("all"), class: "dropdown-item"%></li>

          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Top seller</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Community</a>
      </li>
    </ul>
   
  </div>

    <div>
        <ul class="nav justify-content-end">

          <li class="nav-item active">
           
            <%if user_signed_in?%>

              <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link"%>
              </li>
            
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= image_tag "user.jpg", alt: "a human shape", class: "nav-icon-image"%>
                  </a>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><%=link_to "My listings", listings_path("#{current_user.id}"), class: "dropdown-item"%></li>
                    <li><a class="dropdown-item" href="#">My orders</a></li>
                    <li><a class="dropdown-item" href="#">My favourites</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#">Account Settings</a></li>
                  </ul>
                </div>
              </li>
            <%else%>
              <li class="nav-item">
                  <%= link_to "Sign in", new_user_session_path, class: "nav-link"%>
              </li>
            <%end%>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="#"><%= image_tag "fav.jpg", alt: "a heart shape", class: "nav-icon-image"%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= image_tag "cart.jpg", alt: "a shopping cart", class: "nav-icon-image"%></a>
            </li>
           
        </ul>
    </div>
</nav>



