<h2>Order Summary</h2>
<section>
  <div>
  <%if @order.items != nil%>

      <% total = 0%>
      <% @items.each do |item| %>
        <li class="d-flex">Item: <%= item.listing.listing_name %>/ Price: <%= format_price(item.listing.price) %>/
          <%= button_to "Remove item", { :controller => "items", :action => "destroy" }, { :method => :delete, :params => { :item_id => item.id},  class: "link-primary"}%>
        </li>
        <%total += item.listing.price%>
      <% end %>
    </div>
      <h3>Sub total: <%= number_to_currency(total) %></h3>
      <button class='btn btn-primary mb-3 pr-2' data-stripe="payment">Proceed to checkout</button>
    <%else%>
      <%link_to "Home", root_path%>
    <%end%>

</section>

<script src="https://js.stripe.com/v3/"></script>
<script>
document
  .querySelector("[data-stripe='payment']")
  .addEventListener("click", () => {
    const stripe = Stripe("<%=Rails.application.credentials.dig(:stripe, :public_key)%>");
    console.log(stripe);
    stripe.redirectToCheckout({
      sessionId: "<%=@session_id%>"
    })
  })
</script>